
 <!-- Search Input Section -->
  
<div class="w-full mt-8 flex justify-center">
    
    <input type="text" placeholder="Enter Location" class="border border-gray-300 p-2 rounded-l-lg w-1/3" [(ngModel)]="location"/>
    <button class="bg-blue-500 text-white p-2 rounded-r-lg" (click)="fatchWeatherData()">Search</button>
</div>
<!-- component -->
<div class="w-full mt-16 lg:mt-64 lg:px-46 justify-center container mx-auto">
    <div class="flex flex-wrap w-full lg:w-auto">
        <div class="w-full lg:w-1/2 flex rounded-lg bg-auto" style="background-image: url('https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80')">
            <div class="rounded-lg py-6 pl-8 pr-32 w-full bg-blue-400 opacity-90 text-white">
                <div class="mb-20">
                    <h2 class="font-bold text-3xl leading-none pb-1">{{ weatherDetails.location.name }}, {{ weatherDetails.location.country }}</h2>
                </div>
                <div>
                    <img [src]="weatherDetails.current.condition.icon" alt="Weather Icon" class="w-16 mb-2" />
                        <strong class="leading-none text-6xl block font-weight-bolder">{{ weatherDetails.current.temp_c }}°</strong>
                        <p class="text-xs">Feels like: {{ weatherDetails.current.feelslike_c }}°C</p>
                    <b class="text-2xl block font-bold">{{ weatherDetails.current.condition.text }}</b>
                </div>
                
            </div>
        </div>

        <div class="w-full lg:w-1/2 flex ml-0">
            <div class="lg:my-3 bg-gray-800 text-white p-8 lg:rounded-r-lg w-full">
                <!-- Time Subheading -->
                <div class="flex justify-center mb-4"> {{ weatherDetails.location.localtime | dateFormat }}</div>
                    
                
                <div class="flex justify-between w-64 mb-4 w-full">
                    <div class="w-auto font-bold uppercase text-90">Humidity</div>
                    <div class="w-auto text-right">{{ weatherDetails.current.humidity }} %</div>
                </div>
                <div class="flex justify-between w-64 mb-8 w-full">
                    <div class="w-auto font-bold uppercase text-90">Wind</div>
                    <div class="w-auto text-right">{{ weatherDetails.current.wind_kph }} kph</div>
                </div>
            </div>
        </div>
        
        </div>
    </div>


